// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

@define-color theme_bg_color_transparent alpha(#{$bg_color}, 0.85);
@define-color theme_bg_color_darker shade(#{$bg_color}, 0.9);

MusicControls {
  button {
    padding-right: 5px;
    padding-left: 5px;
  }
}

popover contents {
  padding: 0;
  box-shadow: 0px 0px 20px 1px #FFF1;
}

window.Bar {
  background: transparent;
  color: $fg-color;
  font-weight: bold;
  $icon-size: 30px;

  > centerbox {
    background: #{"@theme_bg_color_transparent"}; 
  }

  button {
    border-radius: 8px;
    margin: 2px;
  }

  .Wifi, .Bluetooth {
    margin-left: 2px;
    margin-right: 2px;
  }

  .Time {
    margin-left: 2px;
    margin-right: 2px;
  }

  .Media {
    margin-left: 10px;
    .Title {
      margin-left: 7px;
    }

    .BigPlayer {
      $width: 15em;

      .BigCover {
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        min-width: $width;
        min-height: $width;

        border-radius: 10px;
        // border-radius: $width;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }

      MusicControls {
        margin-top: 2px;
      }

      .BigTitle {
        font-size: 20px;

        margin-top: 4px;
      }
      .Artist, .Album {
        font-weight: normal;
      }

      button.Advanced {
        margin: 0;
        margin-top: 5px;
        padding: 0;
        min-height: unset;

        border-radius: 0;

        transition-duration: 0.2s;
      }
      button.Advanced:hover {
        background-color: $bg-color;
      }
      .Advanced {
        background-color: #{"@theme_bg_color_darker"};

        padding: 5px;
        min-width: $width;
      }
    }

    .Cover {
      $cover-size: calc($icon-size + 7px);
      min-height: $cover-size;
      min-width: $cover-size;
      border-radius: 3px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      filter: brightness(1.1);
      margin-left: 5px;
      margin-right: 5px;

      > button {
        background-color: transparent;
      }
    }
  }

  .Workspaces {
    $size: calc($icon-size / 3);
    $totalWidth: 6;
    $totalHeight: 6;
    font-size: $size;

    // background: #{"@theme_bg_color_darker"}; 
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);
    padding-right: 5px;

    .cell, .center {
      min-width: $size;
      font-size: $size;
      padding: 0;
      margin: 0;
    }

    .center {
      background-color: #FFF5;
      // border-radius: 2px;
      // $padding: 1px;
      // padding: $padding;
      // font-size: calc($size - 2 * $padding);
      // min-width: calc($size - 2 * $padding);
    }

    .oob {
      font-size: 0px;
      min-width: 0px;
    }

    .xp1 {
      border-left: 1px solid $fg-color;
    }
    .yp1 {
      border-top: 1px solid $fg-color;
    }
    .xp#{$totalWidth} {
      border-right: 1px solid $fg-color;
    }
    .yp#{$totalHeight} {
      border-bottom: 1px solid $fg-color;
    }
  }
}
