// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.Bar {
  background: transparent;
  color: $fg-color;
  font-weight: bold;
  $icon-size: 30px;

  > centerbox {
    background: $bg-color;
  }

  button {
    border-radius: 8px;
    margin: 2px;
  }

  .Time {
    margin-left: 5px;
    margin-right: 10px;
  }

  .Media {
    label {
      margin-left: 7px;
    }

    .Cover {
      border-radius: 2px;
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  .Workspaces {
    $size: calc($icon-size / 3);
    $totalWidth: 6;
    $totalHeight: 6;
    font-size: $size;

    .cell {
      min-width: $size;
      font-size: $size;
    }

    .center {
      background-color: #FFF3;
      border-radius: 2px;

      min-width: $size;
      font-size: $size;
      // $padding: 1px;
      // padding: $padding;
      // font-size: calc($size - 2 * $padding);
      // min-width: calc($size - 2 * $padding);
    }

    .oob {
      font-size: 0px;
      min-width: 0px;
    }

    .xp1 {
      border-left: 1px solid $fg-color;
    }
    .yp1 {
      border-top: 1px solid $fg-color;
    }
    .xp#{$totalWidth} {
      border-right: 1px solid $fg-color;
    }
    .yp#{$totalHeight} {
      border-bottom: 1px solid $fg-color;
    }
  }
}
